@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html {
  box-sizing: border-box;
} /* чтобы паддинги и рамки не растягивали контент */

*,
*::before,
*::after {
  box-sizing: inherit;
} /* все псевдоэлементы будут наследовать box-sizing от родитилей */

body {
  font-size: 24px;
  font-weight: 400;
}

.header {
  padding-top: 10px;
}

.container {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a1afbf;
  padding-bottom: 20px;
}

.header__icons {
  display: flex;
}

.header__icon + .header__icon {
  padding-left: 30px;
}

.nav {
  padding-top: 30px;
}

.nav__inner {
  border-bottom: 1px solid #a1afbf;
  padding-bottom: 30px;
}

.nav__list {
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
}

.nav__list-item + .nav__list-item {
  padding-left: 60px;
}

/* main */

.main {
  padding-top: 60px;
}

.main__inner {
  background-image: url("./../images/frame15.png");
  background-size: cover; /* Растянуть изображение, чтобы оно покрывало весь блок */
  background-position: center; /* Выравнивание изображения по центру блока */
  width: 100%; /* 100% ширины блока */
  height: 745px; /* Задайте высоту, которая вам нужна */
  color: #fff; /* Цвет текста, чтобы он был виден на фоне */
  text-align: center; /* Выравнивание текста по центру */
  padding: 20px; /* Внутренний отступ для текста */
}

.main__inner-content {
  position: absolute;
  text-align: left;
  padding-left: 100px;
  padding-top: 150px;

  /* z-index: 1; */
}

.main__inner-logo {
  padding-bottom: 50px;
}

.main__inner-content-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 155%;
  max-width: 447px;
  padding-bottom: 50px;
  color: black;
}

.main__inner-content-text {
  padding-bottom: 100px;
  font-weight: 500;
  font-size: 24px;
  line-height: 155%;
  max-width: 468px;
  color: black;
}

.btn {
  padding: 50px 100px;
  background-color: #ff4b5f;
}
